.about-us {
  @include page-grid;

  &__paragraph {
    color: $redcolor;
    margin: 0;
    font-weight: 700;
    font-size: 12px;
  }

  &__left {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__right {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
    }

    display: grid;
    row-gap: 24px;
  }

  &__museum {
    display: grid;
    row-gap: 16px;
  }

  &__row {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 24px;
  }

  &__closed {
    display: grid;
    row-gap: 0;
  }

  &__time {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 16px;
    font-weight: 700;
  }

  &__day {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 16px;
  }

  &__subtitle {
    line-height: 30px;
    font-size: 24px;
    margin: 0;
  }

  &__subtitle--closed {
    font-size: 16px;
    line-height: 27px;
    margin: 0;
  }

  &__description--closed {
    margin: 0;
  }
}
