.phonetip {
  position: relative;
  text-align: right;

  &__block {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition:
      opacity $effectDuration;
      z-index: $effectDuration;
    z-index: -1;
  }

  @include on-desktop {
    &:hover .phonetip__block {
      opacity: 1;
      transition: opacity $effectDuration;
      z-index: 1;
    }
  }

  &__text {
     margin: 0;
      padding: 0;
      text-wrap: nowrap;
      color: $second-text-color;
      text-transform: uppercase;
      font-family: Cinzel, serif;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0;
      vertical-align: middle;
  }

  &__link {
    text-wrap: nowrap;
    text-decoration: none;
    color: $second-text-color;
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    vertical-align: middle;
    margin-bottom: 18px;
  }
}
