.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;

  @include on-tablet {
    margin-bottom: 64px;
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 48px;
  }

  &--align--left {
    text-align: left;
  }
}

.section-desctiption {
  margin-top: -40px;
  text-align: center;
  line-height: 100%;
  font-size: 16px;
}

.section-labales {
  margin-bottom: 48px;
}
